@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

html, body {
    font-size: 90%;
}   

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: rgb(248, 246, 246);
}
    header {
    margin-top: 30px;
    position: fixed;
    width: 90%;
    display: flex;
    top: 0;
    left: 0;
    padding: 2rem 4%;
    background: transparent;
    filter: drop-shadow(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }

    .logo {
    font-size: 3rem;
    color: blue;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    nav a {
    color: #efecec;
    font-size: 1.3rem;
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 7px solid transparent;
    }

    nav a:hover,
    nav a.active {
        border-bottom: 3px solid blue;
        color: blue;
    }

    @media(max-width: 800px){
        nav {
            position: absolute;
            display: none;
            top: 0%;
            right: 0%;
            width: 40%;
            border-left: 3px solid blue;
            border-bottom: 3px solid blue;
            border-bottom-left-radius: 2rem;
            padding: 1rem solid;
            background-color: #080808e0;
            border-top: 0.1rem solid blue;
        }

        nav.active {
            display: block;
        }

        nav a {
            display: block;
            margin: 3rem 0;
            font-size: 2rem;
        }

        nav a:hover,
        nav a.active {
            border-bottom: 0.5rem solid blue;
            padding: -2rem;
            border-radius: 0.5rem;
    }   
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home.home-content h1{
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.3;
}

span{
    color: blue;
}

.home-content h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 0;
}
.home-content p{
    font-size: 1.2rem;
}

.home-img{
    border-radius: 60%;
}

.home-img img{
    position: relative;
    width: 45vw;
    border-radius: 40%;
    box-shadow: 0 0 25px solid;
    cursor: pointer;
    transition: 0.5s linear;
}

.home-img img:hover{
    font-size: 2rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 5rem;
    background-color: transparent;
    border: 2rem solid blue;
    font-size: 2rem;
    border-radius: 80%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
    color: red;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3)translateY(5px);
    background-color: transparent;
    box-shadow: 0 0 25px red;
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: black;
    border-radius: 5rem;
    font-size: 2rem;
    color: blue;
    letter-spacing: 0.3;
    font-weight: 900;
    border: 2px solid blue;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background-color: blue;
    color: black;
    box-shadow: 0 0 25px red;
}

.typing-text{
    font-size: 35px;
    font-weight: 650;
    min-width: 300px;
}

.typing-text span{
    position: relative;
}

.typing-text span:before{
    content: "Software Developer";
    color: blue;
    animation: words 20s infinite;
}

.typing-text span:after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.5s infinite;
}

@keyframes cursor{
    to{
        border-left:  3px solid whitesmoke;
    }
}

@keyframes words{
    0%,20%{
        content: "A Graduate";
    }
     21%,40%{
        content: "A Web Developer";
    }
    41%,60%{
        content: "A Tiktoker";
    }
    61%,80%{
        content: "A Marketer";
    }
    81%,100%{
        content: "An Artist";
    }
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img.img{
        width: 70vw;
        margin-top: 4rem;
    }
}
